{% extends 'launch.html' %}

{% block body %}
{% for article in arcticles %}
<div class="container blog_class" id ="blog1">
        <h2>
                {{article.title}}
        </h2>
        <p>
                {{article.author}}
        </p>
        <p class="blog">
                {{article.body}}
        </p>
        <br>
        <button class="btn btn-primary">like</button>
        <button class="btn btn-primary">share</button>
        <button class="btn btn-danger">report</button>
</div>
{% endfor %}   
{% endblock %}